@charset "utf-8";
:root{
	/* 多用するボーダーの書式は変数にしておく */
	--border-light: solid 0.05rem white;
	--border-dark: solid 0.05rem darkgray;
}
html{
	/* 見映えの調整のために等幅フォントを使用 */
	font: 20px monospace;
}
body{
	/* marginを無くす */
	margin: 0;
}
#interfaceTable{
	/* 背景色は明るいグレー */
	background-color: lightgray;
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-dark);
	border-left: var(--border-light);
	border-right: var(--border-dark);
	border-top: var(--border-light);
	/* ボーダーを要素の大きさに含む */
	box-sizing: border-box;
	/* テーブルからグリッドに変更 */
	display: grid;
	/* ボーダーの1pxの影響を抑えるため、上下左右端は0.95rem(=19px) */
	grid-template-columns: 0.95rem 8rem 5rem 1rem 2rem 4rem 1rem 6rem 0.95rem;
	grid-template-rows: 0.95rem 2rem 2rem 2rem 2rem 2rem 2rem 0.95rem;
	/* 幅が100%になるのを防ぐ */
	height: 12rem;
	width: 29rem;
}
#interfaceTable div{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-light);
	border-left: var(--border-dark);
	border-right: var(--border-light);
	border-top: var(--border-dark);
	/* 上下左右に0.45rem(=9px)のパディング */
	padding: 0.45rem;
}
#interfaceTable input{
	/* フォントは全体と共通の物を使用 */
	font: inherit;
	/* フォーカス時のアウトラインを無くす */
	outline: 0;
	/* 上下左右に0.45rem(=9px)のパディング */
	padding: 0.45rem;
}
#interfaceTable input[type="text"]{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-light);
	border-left: var(--border-dark);
	border-right: var(--border-light);
	border-top: var(--border-dark);
	/* 入力フォームは右寄せ */
	text-align: right;
}
#interfaceTable input[type="button"]{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-dark);
	border-left: var(--border-light);
	border-right: var(--border-dark);
	border-top: var(--border-light);
	/* ボタンは中央寄せ */
	text-align: center;
}
#interfaceTable input[type="button"]:active{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-light);
	border-left: var(--border-dark);
	border-right: var(--border-light);
	border-top: var(--border-dark);
}
#resultTable{
	/* 枠線を重ねて表示 */
	border-collapse: collapse;
}
#resultTable th{
	/* セルの境界を見易くする為のボーダー */
	border: solid 0.05rem black;
	border-bottom: double 0.15rem black;
	/* 右寄せ */
	text-align: center;
	/* 最低20pxで表示 */
	min-width: 2rem;
}
#resultTable td{
	/* セルの境界を見易くする為のボーダー */
	border: solid 0.05rem black;
	/* 右寄せ */
	text-align: right;
	/* 最低20pxで表示 */
	min-width: 2rem;
}
#resultTable th:nth-child(5n+6){
	/* セルの境界を見易くする為のボーダー */
	border-left: solid 0.1rem black;
}
#resultTable td:nth-child(5n+6){
	/* セルの境界を見易くする為のボーダー */
	border-left: solid 0.1rem black;
}