@charset "utf-8";
:root{
	/* 多用するボーダーの書式は変数にしておく */
	--border-light: solid 0.05rem white;
	--border-dark: solid 0.05rem darkgray;
}
html{
	/* 見映えの調整のために等幅フォントを使用 */
	font: 20px monospace;
}
body{
	/* marginを無くす */
	margin: 0;
}
#interface{
	/* 背景色は明るいグレー */
	background-color: lightgray;
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-dark);
	border-left: var(--border-light);
	border-right: var(--border-dark);
	border-top: var(--border-light);
	/* ボーダーを要素の大きさに含む */
	box-sizing: border-box;
	/* テーブルからグリッドに変更 */
	display: grid;
	/* ボーダーの1pxの影響を抑えるため、上下左右端は0.95rem(=19px) */
	grid-template-columns: 0.95rem 5rem 5rem 5rem 5rem 5rem 0.95rem;
	grid-template-rows: 0.95rem 1rem 2rem 1rem 1rem 2rem 0.95rem;
	/* 幅が100%になるのを防ぐ */
	height: 9rem;
	width: 27rem;
}
.form{
	/* フォントは全体と共通の物を使用 */
	font: inherit;
	/* フォーカス時のアウトラインを無くす */
	outline: 0;
	/* 上下左右に0.45rem(=9px)のパディング */
	padding: 0.45rem;
}
.form[type="text"],.form[type="button"]:active{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-light);
	border-left: var(--border-dark);
	border-right: var(--border-light);
	border-top: var(--border-dark);
}
.form[type="text"]{
	/* 入力フォームは右寄せ */
	text-align: right;
}
.form[type="button"]{
	/* var関数で変数の呼び出し */
	border-bottom: var(--border-dark);
	border-left: var(--border-light);
	border-right: var(--border-dark);
	border-top: var(--border-light);
}
#resultTable{
	/* 枠線を重ねて表示 */
	border-collapse: collapse;
	/* セルの幅を均等にする */
	table-layout: fixed;
	/* table-layoutの為に幅を指定 */
	width: 100%;
}
#resultTable td{
	/* セルの境界を見易くする為のボーダー */
	border: solid 0.05rem black;
	/* 右寄せ */
	text-align: right;
}
#logDiv{
	/* 改行(\n)等を有効にする */
	white-space: pre;
}
